<md-content ng-if="!loading" layout="column" layout-align="center center" layout-padding="" layout-margin="">

    <md-content flex="grow">
        <form name="loginForm" layout-gt-md="row" layout="column" flex="grow">
            <md-input-container flex="grow">
                <label>Name</label>
                <input name="name" ng-model="user.name">
            </md-input-container>
            <md-input-container flex="grow">
                <label>Passwort</label>
                <input type="password" ng-model="user.password">
            </md-input-container>
        </form>
    </md-content>

    <md-content flex="" layout="column">
        <md-button class="md-raised md-primary" ng-click="anmelden()">
            Anmelden
        </md-button>
        <div role="alert" ng-messages="loginForm.name.$error" class="md-warn">
            {{errormsg}}
        </div>
    </md-content>
</md-content>
<div layout="column" layout-fill layout-align="center center" ng-if="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    <h1>Login mit Cookie...</h1>
</div>