<md-content ng-if="!loading" layout="row" layout-fill="" layout-margin="" layout-padding="">
    <md-content layout="column" flex-order="1" flex-gt-md="33" flex="50" layout-fill="">
        <md-list flex="" style="overflow: auto" scroll-glue>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <p>Willkommen im Chat</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-repeat="zeile in chatverlauf">
                <div class="md-list-item-text">
                    <h3>{{zeile.sender}}</h3>
                    <p>{{zeile.msg}}</p>
                </div>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-content layout="row" flex="10">
            <input ng-model="chatmsg" flex="70" ng-keypress="interpretiereKeypress($event)">
            <md-button flex="" ng-click="sendeChatMsg()">Senden</md-button>
        </md-content>
    </md-content>
    <md-divider flex-order="2"></md-divider>
    <md-content layout="column" flex-gt-md="66" flex="50" layout-fill="" flex-order="3">
        <md-card ng-click="neuesSpiel()" layout-padding="">
            <md-card-title-text>
                <i class="fas fa-plus-circle fa-4x"></i> <span class="md-headline">Neues Spiel eröffnen</span>
            </md-card-title-text>
        </md-card>
        <md-card ng-repeat="item in games track by item.wizardGame.id"
                 ng-click="joinGame(item.wizardGame)">
            <md-card-title-text layout="column">
                <span flex="" class="md-headline">Spiel beitreten</span>
                <md-divider></md-divider>
                <span flex="" class="md-subhead">Teilnehmer</span>
                <span flex="" class="md-subheader-gameId" ng-repeat="participant in item.participants | orderBy: participant.seat">{{participant.nameUser}}</span>
            </md-card-title-text>
        </md-card>
    </md-content>
</md-content>
<div layout="column" layout-fill layout-align="center center" ng-if="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    <h1>Offene Spiele laden...</h1>
</div>


