<md-content flex="" layout="row" layout-fill="">
    <md-content hide="" show-gt-md="" layout="column" flex-order="1" flex="20" layout-fill="">
        <md-list flex="" style="overflow: auto" scroll-glue>
            <md-list-item class="md-2-line" ng-repeat="zeile in chatverlauf">
                <div class="md-list-item-text">
                    <h3>{{zeile.sender}}</h3>
                    <p>{{zeile.msg}}</p>
                </div>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-content layout="row" flex="10">
            <input ng-model="chatmsg" flex="70" ng-keypress="interpretiereKeypress($event)">
            <md-button flex="" ng-click="sendeChatMsg()">Senden</md-button>
        </md-content>
    </md-content>
    <md-divider hide="" show-gt-md="" flex="" flex-order="2"></md-divider>
    <md-content flex-gt-md="80" flex="" flex-order="3" id="table" layout="column">
        <div flex="70">.</div>
        <div flex="30" id="ownHand" layout-align="start start">
            <card flex ng-repeat="card in ownCards track by card.id"
                  img-url="card.imgPath"
                  color-class="mapColorIdToCssClass[card.idFarbe]"
                  number="card.idZahl"
                  rotation="45"
                  card-width="55">
            </card>
        </div>
    </md-content>
    <md-fab-speed-dial class="md-fab md-fab-bottom-right md-scale" md-direction="up" md-open="functionsListIsOpen">
        <md-fab-trigger>
            <md-button aria-label="Menü" class="md-fab" hide-gt-md
                       ng-class="newChatMessage || voteIsNeeded ? 'md-warn' : 'md-primary'">
                <md-icon style="display: unset"><i class="fas fa-2x fa-bars"></i></md-icon>
            </md-button>
            <md-button aria-label="Menü" class="md-fab" ng-class="voteIsNeeded ? 'md-warn' : 'md-primary'" hide show-gt-md>
                <md-icon style="display: unset"><i class="fas fa-2x fa-bars"></i></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="Öffne Chat" class="md-fab md-raised md-mini" hide-gt-md="" ng-class="primaryOrWarn"
                       ng-click="openChat($event)">
                <md-icon style="display: unset"><i class="fas fa-comments"></i></md-icon>
            </md-button>
            <md-button aria-label="Spiel verlassen" class="md-fab md-raised md-mini"
                       ng-click="leaveGame($event)">
                <md-icon style="display: unset"><i class="fas fa-sign-out-alt"></i></md-icon>
                <md-tooltip>Spiel verlassen</md-tooltip>
            </md-button>
            <md-button aria-label="Spiel starten" class="md-fab md-raised md-mini"
                       ng-click="voteForGameStart($event)" md-tooltip="Spiel starten"
                        ng-if="gameIsReadyToStart" ng-class="voteForGameStartIsNeeded">
                <md-icon style="display: unset"><i class="fas fa-plus-circle"></i></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

    <div flex="" hide layout-fill="">
        <div layout="column" flex="" class="md-dialog-container" id="chatDialog" layout-fill="">
            <md-dialog flex-xs="80" flex layout="column" layout-fill="">
                <md-toolbar flex="10">
                    <div class="md-toolbar-tools">
                        <h2>Chat</h2>
                        <span flex></span>
                        <md-button aria-label="Chat schließen" class="md-icon-button" ng-click="closeDialog()">
                            <md-icon><i class="fas fa-times"></i></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content layout="column" flex-order="1" flex="" layout-fill="">
                    <md-list flex="" style="overflow: auto" scroll-glue>
                        <md-list-item class="md-2-line" ng-repeat="zeile in chatverlauf">
                            <div class="md-list-item-text">
                                <h3>{{zeile.sender}}</h3>
                                <p>{{zeile.msg}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-divider></md-divider>
                    <md-content layout="row" flex="30" flex-xs="10">
                        <input ng-model="chatmsg" flex="70" ng-keypress="interpretiereKeypress($event)">
                        <md-button flex="" ng-click="sendeChatMsg()">Senden</md-button>
                    </md-content>
                </md-dialog-content>
            </md-dialog>
        </div>
    </div>
</md-content>