<!DOCTYPE html>
<html lang="en" manifest="offline.manifest">
<head>
    <meta charset="UTF-8">
    <script src="js/inc/angular.js"></script>
    <script src="js/inc/angular-animate.min.js"></script>
    <script src="js/inc/angular-aria.min.js"></script>
    <script src="js/inc/angular-messages.min.js"></script>
    <script src="js/inc/angular-route.min.js"></script>
    <script src="js/inc/angular-material.min.js"></script>
    <link rel="stylesheet" href="style/angular-material.min.css" />
    <!--<link rel="stylesheet" href="style/fontawesome.css">-->
    <script src="js/inc/fontawesome.js"></script>
    <!-- INCLUDE ENDE -->
    <link rel="stylesheet" href="style/einmayer.css" />
    <script src="js/app.js"></script>
    <script src="einkaufsliste/controller/overview.js"></script>
    <script src="js/controller/navigationAndRoot.js"></script>
    <script src="einkaufsliste/controller/toast.js"></script>
    <script src="einkaufsliste/controller/einkaufsliste.js"></script>
    <script src="js/controller/home.js"></script>
    <script src="reminder/controller/reminder.js"></script>
    <script src="reminder/controller/editOrAddDate.js"></script>
    <base href="/app/index.html">
</head>
<body ng-app="eggiApp" ng-cloak ng-controller="mainController">
    <md-fab-toolbar md-open="toolbar.isOpen" count="demo.count"
                    md-direction="'right'" class="einmayer-toolbar-background" style="height:10%;" ng-click="$location.path('/app/index.html')">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon style="display: unset"><i class="fas fa-bars"></i></md-icon>
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="home" class="md-icon-button" ng-click="setPathToHome()">
                    <i class="fas fa-home"></i>
                </md-button>
                <md-button aria-label="einkaufsliste" class="md-icon-button" ng-click="setPathToEinkaufsliste()">
                    <i class="fas fa-shopping-cart"></i>
                </md-button>
                <md-button aria-label="reminder" class="md-icon-button" ng-click="setPathToReminder()">
                    <i class="fas fa-bell"></i>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>

    <div ng-view style="overflow: auto; width:100%;height:90%;"></div>
</body>
</html>