<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<md-content layout="column">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Neue Erinnerung</h2>
            <md-button class="md-icon-button" ng-click="cancel($event)"><i class="fas fa-times-circle"></i></md-button>
            <md-button class="md-icon-button" ng-click="save($event)"><i class="fas fa-save"></i></md-button>
        </div>
    </md-toolbar>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Name der Erinnerung</label>
        <input md-maxlength="50" required name="name" ng-model="date.titel"/>
    </md-input-container>
    <div layout="row">
        <md-input-container>
            <label>Datum</label>
            <md-datepicker required ng-model="date.datum"></md-datepicker>
        </md-input-container>
        <md-input-container>
            <label>Uhrzeit</label>
            <input type="time" ng-model="date.uhrzeit" step="1" required/>
        </md-input-container>
    </div>
    <md-input-container>
        <label>Wer soll erinnert werden?</label>
        <md-select ng-model="date.zielAnwender">
            <md-option value="beide">Beide</md-option>
            <md-option value="steff">Steff</md-option>
            <md-option value="johannes">Johannes</md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Beschreibung</label>
        <textarea ng-model="date.beschreibung" md-maxlength="400" rows="2" md-select-on-focus>
        </textarea>
</md-content>
</body>
</html>