<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<md-content>
    <div layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
    </div>
    <md-list ng-if="!loading">
        <md-list-item class="md-2-line" ng-repeat="date in dates" ng-click="editDate(date)" ng-if="item.status !== '80'">
            <div class="md-list-item-text" layout="column">
                <h3>{{ date.titel | limitTo:25}}<span ng-if="date.titel.length>25">...</span></h3>
                <p>{{date.datum|date: "dd.MM.yyyy HH:mm"}}</p>
            </div>
            <md-button class="md-secondary md-icon-button" ng-click="editOrAddDatePopup($event, date)">
                <md-icon style="display: unset">
                    <i class="fas fa-edit"></i>
                </md-icon>
            </md-button>
            <md-button class="md-secondary md-icon-button" ng-click="deleteDate(date)">
                <md-icon style="display: unset"><i class="fas fa-trash-alt"></i></md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</md-content>
<md-button class="md-primary md-fab md-fab-bottom-right" ng-click="editOrAddDatePopup($event)" ng-if="!loading">
    <md-icon style="display: unset"><i class="fas fa-plus"></i></md-icon>
</md-button>
</body>
</html>