<div layout="row" layout-xs="column">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Erinnerungen für Heute</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-actions>
                <md-button aria-label="jumpToReminder" ng-click="jumpToReminder()">
                    <i class="fas fa-arrow-right"></i> Zu den Erinnerungen
                </md-button>
            </md-card-actions>
            <md-card-gameId style="overflow: auto; max-height:7em; padding:0;">
                <md-list ng-if="!loadingReminderHeute && dates.length > 0">
                    <md-list-item class="md-2-line" ng-repeat="date in dates">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ date.titel }}</h3>
                            <p>{{ date.datum|date: "dd.MM.yyyy HH:mm" }}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <div style="padding: 0.2em;" md-whiteframe="3" ng-if="!loadingReminderHeute && dates.length === 0">Keine Erinnerungen für heute</div>
                <md-progress-circular ng-if="loadingReminderHeute"></md-progress-circular>
            </md-card-gameId>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Letzte Einkaufsliste</span>
                    <span class="md-subhead">{{letzteListe.name}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-actions>
                <md-button aria-label="jumpToListe" ng-click="jumpToLastListe()">
                    <i class="fas fa-arrow-right"></i> Zur Liste
                </md-button>
            </md-card-actions>
            <md-card-gameId style="overflow: auto; max-height:7em; padding:0;">
                <md-list ng-if="!loadingLetzteListe">
                    <md-list-item class="md-1-line" ng-repeat="item in items" ng-if="item.status !== '80'">
                        <div class="md-list-item-text" layout="column">
                            <p>{{ item.item }}</p>
                        </div>
                        <md-checkbox class="md-secondary" ng-model="item.checked" disabled="true"></md-checkbox>
                    </md-list-item>
                </md-list>
                <md-progress-circular ng-if="loadingLetzteListe"></md-progress-circular>
            </md-card-gameId>
        </md-card>
    </div>
</div>