<div ng-style="myStyle" layout="column">
    <div flex layout-align="start start" layout="row">
        <number-picker flex layout="row" layout-align="start start" flex-order="1" number="number"
                       number-width="cardWidth / 3"
                       color-class="colorClass"></number-picker>
        <number-picker flex layout="row" layout-align="end start" flex-order="1" number="number"
                       number-width="cardWidth / 3"
                       color-class="colorClass"></number-picker>
    </div>
    <div flex layout="row" layout-align="start end">
        <number-picker style="rotate: 180deg;" flex layout="row" layout-align="end start" number="number"
                       number-width="cardWidth / 3"
                       color-class="colorClass"></number-picker>
        <number-picker style="rotate: 180deg;" flex layout="row" layout-align="start start" number="number"
                       number-width="cardWidth / 3"
                       color-class="colorClass"></number-picker>
    </div>
</div>