<div>
    <number-one ng-if="number == 1" color="colorClass" ng-style="numberStyle"></number-one>
    <number-two ng-if="number == 2" color="colorClass" ng-style="numberStyle"></number-two>
    <number-three ng-if="number == 3" color="colorClass" ng-style="numberStyle"></number-three>
    <number-four ng-if="number == 4" color="colorClass" ng-style="numberStyle"></number-four>
    <number-five ng-if="number == 5" color="colorClass" ng-style="numberStyle"></number-five>
    <number-six ng-if="number == 6" color="colorClass" ng-style="numberStyle"></number-six>
    <number-seven ng-if="number == 7" color="colorClass" ng-style="numberStyle"></number-seven>
    <number-eight ng-if="number == 8" color="colorClass" ng-style="numberStyle"></number-eight>
    <number-nine ng-if="number == 9" color="colorClass" ng-style="numberStyle"></number-nine>
    <number-ten ng-if="number == 10" color="colorClass" ng-style="numberStyle"></number-ten>
    <number-eleven ng-if="number == 11" color="colorClass" ng-style="numberStyle"></number-eleven>
    <number-twelve ng-if="number == 12" color="colorClass" ng-style="numberStyle"></number-twelve>
    <number-thirteen ng-if="number == 13" color="colorClass" ng-style="numberStyle"></number-thirteen>
    <number-joker ng-if="number == 'J'" ng-style="numberStyle"></number-joker>
    <number-wizard ng-if="number == 'W'" ng-style="numberStyle"></number-wizard>
</div>