body {
    background-image: url("background.png");
    background-size: cover;
}

.durchscheinend {
    opacity: 0.6;
}

md-content {
    background-color: rgba(48, 48, 48, 0.5);
}

.number-green {
    fill: #00955D;
}

.number-blue {
    fill: #1B56A6;
}

.number-red {
    fill: #A22228;
}

.number-yellow {
    fill: #B98E2B;
}

.align-self-end {
    align-self: flex-end;
}


@media(max-width: 1279px){
    body {
        background-image: url("background_rotated.png");
        background-size: cover;
        width: 98%;
    }

    input {
        font-size: 16px;
    }
}
