<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<md-content>
    <md-list>
        <md-list-item class="md-1-line" ng-repeat="item in items" ng-click="checkItem(item)" ng-if="item.status !== '80'">
            <div class="md-list-item-text" layout="column">
                <p>{{ item.item }}</p>
            </div>
            <md-checkbox class="md-secondary" ng-model="item.checked" ng-change="checkItem(item)"></md-checkbox>
            <md-button class="md-secondary md-icon-button" ng-click="deleteItem(item)">
                <md-icon style="display: unset"><i class="fas fa-trash-alt"></i></md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</md-content>
<md-button class="md-primary md-fab md-fab-bottom-right" ng-click="addItemPopup()">
    <md-icon style="display: unset"><i class="fas fa-plus"></i></md-icon>
</md-button>
<div layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
</div>
</body>
</html>