<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<md-content>
    <div layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
    </div>
    <md-list ng-if="!loading">
        <md-list-item class="md-1-line" ng-repeat="liste in listen track by liste.id" ng-click="jumpToListe(liste)" ng-if="liste.status !== '80'">
            <div class="md-list-item-text" layout="column">
                <p>{{ liste.name }}</p>
            </div>
            <md-button class="md-secondary md-icon-button" ng-click="deleteListe(liste)">
                <md-icon style="display: unset"><i class="fas fa-trash-alt"></i></md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</md-content>
<md-button class="md-primary md-fab md-fab-bottom-right" ng-click="addListePopup()" ng-if="!loading">
    <md-icon style="display: unset"><i class="fas fa-plus"></i></md-icon>
</md-button>
</body>
</html>