.einmayer-toolbar-background {
    border-bottom: cornflowerblue inset 1px;
    background-repeat: no-repeat, repeat;
    background-image: url("header.png");
    background-position: center;
    background-color: cornflowerblue;
}